DATABASE_URL="postgresql://tanker:tanker_secret@localhost:5432/tanker_db?schema=public"
# DATABASE_URL="postgresql://neondb_owner:npg_pVBYbS9QE0Mw@ep-long-sun-adoaawzb-pooler.c-2.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"

JWT_SECRET="change-this-to-a-strong-secret-in-production"
JWT_EXPIRY="1h"
JWT_REFRESH_SECRET="change-this-refresh-secret-too"
JWT_REFRESH_EXPIRY="7d"

PORT=3000
NODE_ENV=development

